<a href="https://colab.research.google.com/github/nowoclock/PM_data/blob/main/PM_CatrgoricalData_1220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예시 데이터

In [ ]:
import pandas as pd

data = {
    "Brand": [
        "Apple",
        "Samsung",
        "Apple",
        "Xiaomi",
        "Samsung",
        "Xiaomi",
        "Samsung",
    ],
    "Model": [
        "iphone15",
        "Galaxy24",
        "iphone16",
        "Redme15",
        "Galaxy23",
        "Redme14",
        "Galaxy25",
    ],
    "Release": [
        True,
        True,
        False,
        True,
        True,
        True,
        False,
    ],
}
df = pd.DataFrame(data)

print(df)

     Brand     Model  Release
0    Apple  iphone15     True
1  Samsung  Galaxy24     True
2    Apple  iphone16    False
3   Xiaomi   Redme15     True
4  Samsung  Galaxy23     True
5   Xiaomi   Redme14     True
6  Samsung  Galaxy25    False

# 범주형

## 고유값 확인하기
- 열을 선택해야만 사용할 수 있다.

In [ ]:
df['Brand'].unique()

array(['Apple', 'Samsung', 'Xiaomi'], dtype=object)

## 고유값의 갯수

### 열의 유니크 값 갯수

In [ ]:
# 각 열의 유니크 값 수
df.nunique()

Brand      3
Model      7
Release    2
dtype: int64

### 객체별 갯수

In [ ]:
# 객체의 개별 유니크 값의 수
df['Brand'].value_counts()

Brand
Samsung    3
Apple      2
Xiaomi     2
Name: count, dtype: int64

### 비중

In [ ]:
# 개별 유니크 값의 비중
df['Brand'].value_counts(normalize=True)

Brand
Samsung    0.428571
Apple      0.285714
Xiaomi     0.285714
Name: proportion, dtype: float64

## 범주형 데이터 타입

In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "등급": [
            "하",
            "중",
            "상",
            "하",
            "상",
            "중",
            "하",
            "하하"
        ]
    }
)

df_categorical = pd.DataFrame(df["등급"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등급      8 non-null      object
dtypes: object(1)
memory usage: 192.0+ bytes

###category 타입으로 변환
- 순서    
     - 데이터 (범주) 리스트
     - 데이터 타입 변환할 열 지정
     - pd.Categorical()을 활용하여 변환
- 리스트 값 순서대로 범주형 데이터의 순서가 정해진다.

In [ ]:
# 하 < 중 < 상
# 1. 범주 리스트
orders = ["하", "중", "상"]
# 2. 변환 열 지정
column = df["등급"]
# 3. 변환
pd.Categorical(
    values=column, # 1. 변환할 열
    categories=orders, # 2. 리스트
    ordered=True, # 3. 크기비교 설정
)
# 하하는 지정하지 않았기 때문에 제외된다.

['하', '중', '상', '하', '상', '중', '하', NaN]
Categories (3, object): ['하' < '중' < '상']

In [ ]:
# 등급 별로 순서를 부여함.
df.sort_values(by="등급")

   등급
2   상
4   상
1   중
5   중
0   하
3   하
6   하
7  하하

## [실습]

### (1) 차량 평가 데이터 탐색하기

[Car Evaluation Data Set](https://www.kaggle.com/datasets/elikplim/car-evaluation-data-set/data)

[car_evaluation.csv](https://prod-files-secure.s3.us-west-2.amazonaws.com/f2678325-6f7b-4a25-b188-86c42030d6d5/1aff806c-3a1b-4ad9-8ce8-451be7a772b1/car_evaluation.csv)

- 데이터 설명
    - price : 가격
        - vhigh (매우 비쌈), high (비쌈), med (중간), low (저렴함)
    - maintenance cost : 유지 비용
        - vhigh (매우 비쌈), high (비쌈), med (중간), low (저렴함)
    - number of doors : 문의 개수
        - 2, 3, 4, 5more (5개 이상)
    - number of persons : 탑승 가능 인원
        - 2, 4, more (4명 이상)
    - lug boot : 트렁크 크기
        - small (작음), med (중간), big (큼)
    - safety : 안정성
        - low (낮음), med (중간), high (높음)
    - class : 평과 결과
        - unacc (비적합), acc (적합), good (좋음), vgood (매우 좋음)

1. 파일을 읽어서, 데이터프레임을 생성한다.
2. 데이터프레임의 구조를 파악하기 위한 코드를 3개 이상 작성한다.
    - 예시) `DataFrame.head()`
3. 각 열에 존재하는 고유값의 개수를 출력한다.
4. 각 열에 존재하는 고유값 목록을 출력한다.
5. 각 열에 존재하는 고유값들의 비중을 출력한다.
6. 아래 열들을 범주형 데이터 타입으로 변환한다. 또한, 아래 대소관계를 지켜야한다.
    - `number of doors`  : 5more > 4 > 3 > 2
    - `number of persons` : more > 4 > 2
    - `price` : vhigh > high > med > low
    - `class` : vgood > good > acc > unacc
7. `class` 기준 내림차순 `price` 기준 오름차순으로 정렬하고, 출력한다.
8. `price` 기준 오름차순 `class` 기준 내림차순으로 정렬하고, 출력한다.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/PM_교육/DataSets/car_evaluation.csv')
df

,price,maintenance cost,number of doors,number of persons,lug boot,safety,class
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc
...,...,...,...,...,...,...,...
1723,low,low,5more,more,med,med,good
1724,low,low,5more,more,med,high,vgood
1725,low,low,5more,more,big,low,unacc
1726,low,low,5more,more,big,med,good
1727,low,low,5more,more,big,high,vgood

In [ ]:
df.head()
df.info()
# 각 열의 고유값의 개수
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              1728 non-null   object
 1   maintenance cost   1728 non-null   object
 2   number of doors    1728 non-null   object
 3   number of persons  1728 non-null   object
 4   lug boot           1728 non-null   object
 5   safety             1728 non-null   object
 6   class              1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

price                4
maintenance cost     4
number of doors      4
number of persons    3
lug boot             3
safety               3
class                4
dtype: int64

In [ ]:
# class의 고유값의 개수
df['class'].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [ ]:
# class의 고유 항목
df['class'].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [ ]:
# 고유값의 비중
df['class'].value_counts(normalize=True)

class
unacc    0.700231
acc      0.222222
good     0.039931
vgood    0.037616
Name: proportion, dtype: float64

In [ ]:
# 범주형으로 변환 class
# 1. 범주 리스트
orders = ['unacc', 'acc', 'good', 'vgood']

# 2. 변환 열 지정
column = df["class"]
# 3. 변환
# 새롭게 지정해줘야 저장된다.
df['class'] = pd.Categorical(
    values=column, # 1. 변환할 열
    categories=orders, # 2. 리스트
    ordered=True, # 3. 크기비교 설정
)

In [ ]:
# 범주형으로 변환 price
orders = ['low', 'med', 'high', 'vhigh']
column = df['price']
df['prince'] = pd.Categorical(
    values=column,
    categories=orders,
    ordered=True,
)

In [ ]:
df.sort_values(by=['class', 'price'], ascending=[False, True])

,price,maintenance cost,number of doors,number of persons,lug boot,safety,class,prince
1421,low,high,2,4,big,high,vgood,low
1430,low,high,2,more,big,high,vgood,low
1448,low,high,3,4,big,high,vgood,low
1454,low,high,3,more,med,high,vgood,low
1457,low,high,3,more,big,high,vgood,low
...,...,...,...,...,...,...,...,...
420,vhigh,low,5more,4,big,low,unacc,vhigh
423,vhigh,low,5more,more,small,low,unacc,vhigh
424,vhigh,low,5more,more,small,med,unacc,vhigh
426,vhigh,low,5more,more,med,low,unacc,vhigh
429,vhigh,low,5more,more,big,low,unacc,vhigh