<a href="https://colab.research.google.com/github/nowoclock/PM_data/blob/main/PM_numeric_1220.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 수치형

## [실습]


### (1) 영화 리뷰 데이터 탐색하기

[movie_ratings.csv](https://prod-files-secure.s3.us-west-2.amazonaws.com/f2678325-6f7b-4a25-b188-86c42030d6d5/5884c8a4-2a89-4407-a8d6-7c18df7f177d/movie_ratings.csv)

- 데이터 설명
    - UserID : 리뷰 작성자 ID
    - MovieID : 리뷰 대상 영화 ID
    - Rating : 평점
    - Age : 작성자 나이
    - Occupation : 작성자 직업
    - Genre : 영화 장르
1. 리뷰 작성자 나이(Age)의 평균, 최소값, 최대값을 출력한다.
2. 평점(Rating)의 기술 통계량(개수, 평균, 표준편차, 최소값, 최대값, 사분위수)을 출력한다.
3. 리뷰가 가장 많은 영화 ID(MovieID)를 찾고, 해당 영화의 리뷰수를 출력한다.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/PM_교육/DataSets/movie_ratings.csv')

In [ ]:
df['Age'].mean()

38.52

In [ ]:
df['Rating'].describe()

count    500.000000
mean       2.998000
std        1.434612
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64

In [ ]:
most_df = df['MovieID'].value_counts()
# most_df
most_df.head(1)
# df['MovieID'].value_counts().head(1)

MovieID
6    40
Name: count, dtype: int64

### (2) 자동차 연비 데이터 탐색하기

[Auto-mpg dataset](https://www.kaggle.com/datasets/uciml/autompg-dataset)

[auto-mpg.csv](https://prod-files-secure.s3.us-west-2.amazonaws.com/f2678325-6f7b-4a25-b188-86c42030d6d5/27e50d0b-2a20-4ce1-9769-bd9c4481a766/auto-mpg.csv)

- 데이터 설명
    - mpg : 연비
    - cylinders : 실린더 수
    - displacem : 엔진 배기량
    - horsepower : 마력
    - weight : 무게
    - acceleration : 60마일 도달 시간(초)
    - model year : 모델 출시 연도
    - origin : 차량 제조국
    - car name : 차량 모델명과 제조사
1. 70 ~ 79년도(model year)의 자동차 연비(mpg) 평균을 출력한다.
2. 평균 마력(horsepower)보다 작은 자동차들의 연비(mpg) 평균을 출력한다.
3. 평균 마력(horsepower)보다 큰 자동차들의 연비(mpg)평균을 출력한다.
4. 무게(wiehgt)가 가장 무거운 차와 가장 가벼운 차의 연비를 출력한다.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/PM_교육/DataSets/auto-mpg.csv')

In [ ]:
year_df = df[(df['model year'] >= 70) & (df['model year'] <= 79)]
year_df['mpg'].mean()

21.096763754045305

In [ ]:
df[df['horsepower'] < df['horsepower'].mean()]['mpg'].mean()

27.542

In [ ]:
# 위 코드랑 같음
df.loc[df['horsepower'] > df['horsepower'].mean(), 'mpg'].mean()

16.71148648648649

In [ ]:
# 내림차순 정렬로 1번을 뽑음
df.sort_values(by='weight', ascending=False).head(1)
# 오름차순 정렬로 1번을 뽑음
df.sort_values(by='weight', ascending=True).head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
54,35.0,4,72.0,69,1613,18.0,71,3,datsun 1200