<a href="https://colab.research.google.com/github/nowoclock/PM_data/blob/main/PM_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_1218.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> key, token의 차이


- API KEY : 인증이 불가능하다. public 데이터에 사용된다.
- API TOKEN : 개인 정보 등에 사용됨. (로그인)

# Pandas - 기본

In [ ]:
import pandas as pd

- 하나라도 실수가 들어가면 전체가 실수형으로 표시된다.

In [ ]:
data = {
    'name' : ['aa', 'ss', 'dd'],
    'age' : [15, 20, 10.5]
}

df = pd.DataFrame(data)
print(df)

  name   age
0   aa  15.0
1   ss  20.0
2   dd  10.5

In [ ]:
# 리스트활용 데이터 프레임 생성 코드

data = [
    {'name' : 'aa', 'age' : 15},
    {'name' : 'ss', 'age' : 20},
    {'name' : 'dd', 'age' : 10}
]

df = pd.DataFrame(data)
print(df)

  name  age
0   aa   15
1   ss   20
2   dd   10

## df 실습
![스크린샷 2024-02-15 오후 2.33.01.png]()

In [ ]:
data = {
    'name' : ['Jay', 'Anna', 'Peter', 'Linda'],
    'Age' : [28, 34, 29, 32],
    'Salay' : [50000, 62000, 58000, 75000]
}

df = pd.DataFrame(data)
print(df)

    name  Age  Salay
0    Jay   28  50000
1   Anna   34  62000
2  Peter   29  58000
3  Linda   32  75000

# 2. TMDB 영화 정보(Detail) 응답 데이터를 저장한 데이터프레임을 만드는 코드를 작성한다.

https://developer.themoviedb.org/reference/movie-details

- movie_id는 912649
- 아래 데이터를 저장한 데이터프레임을 만든다.
    - id
    - overview
    - title
    - release_date

In [ ]:
# .env 패키지
!pip install python-dotenv

Requirement already satisfied: python-dotenv in /usr/local/lib/python3.10/dist-packages (1.0.1)

In [ ]:
# api
from dotenv import load_dotenv
import os

In [ ]:
os.getenv('tmdb_api_token')

In [ ]:
import requests
from pprint import pprint

api_token = os.getenv('tmdb_api_token')

movie_id = 912649

base_url = 'https://api.themoviedb.org/3'
endpoint = f'/movie/{movie_id}'

url = base_url + endpoint

params = {
    'language' : 'ko-KR'

}

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {api_token}"
}

response = requests.get(url, headers=headers, params=params)
# print(response)
# pprint(response.json())

data = [{
    'id' : response.json()['id'],
    'overview' : response.json()['overview'],
    'title' : response.json()['title'],
    'release_date' : response.json()['release_date']
}]

df = pd.DataFrame(data)
print(df)

       id                                           overview       title  \
0  912649  환상의 케미스트리의 에디 브록과 그의 심비오트 베놈은 그들을 노리는 정체불명 존재의...  베놈: 라스트 댄스

  release_date
0   2024-10-22

In [ ]:
import requests
from pprint import pprint
api_token = os.getenv('tmdb_api_token')


base_url = 'https://api.themoviedb.org/3'
endpoint = f'/movie/now_playing'

url = base_url + endpoint

params = {
    'language' : 'ko-KR'

}

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {api_token}"
}

response = requests.get(url, headers=headers, params=params).json()
# print(response)

movie_list = response['results']
print(type(movie_list))

data = []
for movie in movie_list:
    data.append({
        'id' : movie['id'],
        'overview' : movie['overview'],
        'title' : movie['title'],
        'release_date' : movie['release_date']
    })
print(len(data))
pprint(data)

<class 'list'>
20
[{'id': 845781,
  'overview': "크리스마스 D-1, 철통같은 보안을 뚫고 코드명 '레드 원' 산타클로스가 납치되고 크리스마스가 사라질 위기에 "
              "처했다! '레드 원'을 찾기 위해 사령관 '칼럼 드리프트'는 산타클로스 따위는 없다고 믿는 현상금 사냥꾼 '잭 "
              "오말리'와 협력하기로 한다. 시작부터 삐그덕 거리는 이들 앞에 크리스마스의 존재를 위협하는 위험천만한 적들이 "
              '나타나는데…',
  'release_date': '2024-10-31',
  'title': '레드 원'},
 {'id': 1241982,
  'overview': '바다를 누볐던 선조들에게서 예기치 못한 부름을 받은 모아나가 마우이와 다시 만나 새로운 선원들과 함께 오랫동안 '
              '잊혀진 멀고 위험한 바다 너머로 떠나는 특별한 모험을 담은 이야기',
  'release_date': '2024-11-21',
  'title': '모아나 2'},
 {'id': 1035048,
  'overview': '한 명의 싱글파더와 두 명의 여성이 어린 소년의 생명을 구하기 위해 집이라는 안전한 공간을 떠나 괴물 같은 '
              '생명체들과 맞서게 된다.',
  'release_date': '2024-11-07',
  'title': '엘리베이션'},
 {'id': 1138194,
  'overview': '콜로라도의 작은 마을을 방문한 두 명의 젊은 몰몬교 여성 선교사들이 주민에게 복음을 전파하기 위해 집집마다 방문 '
              '중에 매력적인 리드 씨라는 인물을 만나게 되고, 그의 집에서 예상치 못한 위험에 휩싸이게 된다.',
  'release_date': '2024-10-31',
  'title': '헤러틱'},
 {'id': 974453, 'overview': '', 'release_date': '2024-10-31', 'title': '앱솔루션'},
 {'id': 539972,
  'overview': '죽음의 문턱에서 맹수의 초인적인 힘을 얻고 살아 돌아온 크레이븐이 무자비한 복수의 길을 택하며 거침없는 사냥을 '
              '펼치는 액션 블록버스터',
  'release_date': '2024-12-11',
  'title': '크레이븐 더 헌터'},
 {'id': 645757,
  'overview': '역사상 최악의 눈보라가 산타클로스를 포함한 모두의 계획을 틀어지게 한 그날. 웰링턴온씨 마을 사람들에게 잊지 못할 '
              '크리스마스가 펼쳐진다.',
  'release_date': '2024-11-27',
  'title': '그해 크리스마스에는'},
 {'id': 1182387,
  'overview': '',
  'release_date': '2024-10-30',
  'title': 'Armor'},
 {'id': 1299652,
  'overview': '',
  'release_date': '2024-11-25',
  'title': '왓치맨: 챕터 2'},
 {'id': 1167271,
  'overview': '',
  'release_date': '2024-09-19',
  'title': '타이베이에서의 주말'},
 {'id': 762509,
  'overview': '길을 잃고 혼자가 된 새끼 사자 무파사는 광활한 야생을 떠돌던 중 왕의 혈통이자 예정된 후계자 타카와 우연히 '
              '만나게 된다. 마치 친형제처럼 끈끈한 우애를 나누며 함께 자란 무파사와 타카는 운명을 개척하기 위해 거대한 여정을 '
              '함께 떠난다. 한 치 앞을 알 수 없는 적들의 위협 속에서 두 형제의 끈끈했던 유대에 금이 가기 시작하고 예상치 '
              '못한 위기까지 맞닥뜨리게 되는데…',
  'release_date': '2024-12-18',
  'title': '무파사: 라이온 킹'},
 {'id': 1147416,
  'overview': '끔찍한 운명을 맞이할 미래를 구하고자, 마리네뜨는 크로노버그가 되어 버닉스와 함께 시간을 여행하는 의문의 적을 '
              '물리치려 한다. 이 새로운 슈퍼 악당은 누구이며, 왜 이들은 마리네뜨의 은밀한 슈퍼히어로 정체성을 폭로하는 데 '
              '집착하는 걸까? 새로운 상대를 물리치고 레이디버그와 시간이 끝나는 걸 막는 것만이 마리네뜨의 유일한 희망이다!',
  'release_date': '2024-11-14',
  'title': '미라클 월드 런던: 시간의 끝에서'},
 {'id': 558449,
  'overview': '로마의 영웅이자 최고의 검투사였던 막시무스가 콜로세움에서 죽음을 맞이한 뒤 20여 년이 흐른 후. 쌍둥이 황제 '
              '게타와 카라칼라의 폭압 아래 시민을 위한 자유로운 나라 로마의 꿈은 잊힌 지 오래다. 한편 아카시우스 장군이 '
              '이끄는 로마군에 대패한 후 모든 것을 잃고 노예로 전락한 루시우스는 강한 권력욕을 지닌 마크리누스의 눈에 띄어 '
              '검투사로 발탁된다. 로마를 향한 걷잡을 수 없는 분노, 타고난 투사의 기질로 콜로세움에 입성하게 된 루시우스는 '
              '결투를 거듭하며 자신이 진짜 누구인지 알게 되고 마침내 로마의 운명을 건 결전을 준비하게 되는데...!',
  'release_date': '2024-11-05',
  'title': '글래디에이터 II'},
 {'id': 933260,
  'overview': '더 나은 버전의 당신을 꿈꿔본 적 있나요? 당신의 인생을 바꿔줄 신제품 ‘서브스턴스’. ‘서브스턴스’는 또 다른 '
              '당신을 만들어냅니다. 새롭고, 젊고, 더 아름답고, 더 완벽한 당신을. 단 한가지 규칙, 당신의 시간을 공유하면 '
              '됩니다. 당신을 위한 일주일, 새로운 당신을 위한 일주일, 각각 7일간의 완벽한 밸런스. 쉽죠? 균형을 '
              '존중한다면… 무엇이 잘못될 수 있을까요?',
  'release_date': '2024-09-07',
  'title': '서브스턴스'},
 {'id': 1034541,
  'overview': '"아트 더 클라운"이 크리스마스 이브에 평화롭게 잠든 "마일스 카운티"의 주민들을 향해 혼돈을 일으키려 한다',
  'release_date': '2024-10-09',
  'title': '테리파이어 3'},
 {'id': 402431,
  'overview': '자신의 진정한 힘을 아직 발견하지 못한 엘파바와 자신의 진정한 본성을 발견하지 못한 글린다, 전혀 다른 두 인물이 '
              '우정을 쌓아가며 맞닥뜨리는 예상치 못한 위기와 모험을 그린 이야기',
  'release_date': '2024-11-20',
  'title': '위키드'},
 {'id': 939243,
  'overview': '',
  'release_date': '2024-12-19',
  'title': '수퍼 소닉 3'},
 {'id': 957119,
  'overview': '',
  'release_date': '2024-11-29',
  'title': 'Sidelined: The QB and Me'},
 {'id': 1171640,
  'overview': '전 모터크로스 챔피언인 여성. 악명 높은 바이커 조직이 남동생을 절도 행각에 끌어들이자, 가족의 안전을 지키기 '
              '위해 마음속 깊이 자리한 두려움을 마주하기로 한다.',
  'release_date': '2024-11-19',
  'title': '티맥스 라이드'},
 {'id': 1252470,
  'overview': '미해결된 다이아몬드 강도 사건 이후, 핵심 용의자를 쫓는 강경한 경찰의 추격전이 집착으로 변해 마침내 서로를 '
              '마주하고 진실과 마주하게 됩니다.',
  'release_date': '2024-11-29',
  'title': '시칸다르의 운명'}]

# csv 읽어오기

In [ ]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/PM_교육/winequality-red.csv')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

## csv 내보내기

In [ ]:
data = [
    {'name' : 'aa', 'age' : 15},
    {'name' : 'ss', 'age' : 20},
    {'name' : 'dd', 'age' : 10}
]

df = pd.DataFrame(data)
df.to_csv('/content/drive/MyDrive/PM_교육/aaa.csv')

## open API 데이터를 데이터 프레임으로 만들고 csv파일로 저장

In [ ]:
# .env 패키지
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [67]:
# api 불러오기
from dotenv import load_dotenv
import os

In [ ]:
# 환경 변수로 가져오는 것이기 때문에 변수명 지정 X
os.getenv('open_api_key')

In [ ]:
import pandas as pd

In [ ]:
import requests
from pprint import pprint

serviceKey = os.getenv('open_api_key')

base_url = 'http://apis.data.go.kr/B551177/StatusOfPassengerWorldWeatherInfo'
end_point = '/getPassengerArrivalsWorldWeather'

request_url = base_url + end_point
# print(request_url)

params ={
    'serviceKey' : {serviceKey},
    'numOfRows' : '10',
    'pageNo' : '1',
    'from_time' : '0000',
    'to_time' : '2400',
    'airport' : '',
    'flight_id' : '',
    'airline' : '',
    'lang' : 'K',
    'type' : 'json',
    }

# API 요청
response = requests.get(request_url, params=params)

response_python = response.json()
item = response_python['response']['body']['items']
data = []
for i in item:
    data.append({
        'airline' : i['airline'],
        'airport' : i['airport'],
    })
df = pd.DataFrame(data)
#print(df)
df.to_csv('/content/drive/MyDrive/PM_교육/airline.csv')

# dataframe_info

- 레드와인 데이터셋 불러와서 .속성

In [ ]:
# 불러오기
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/PM_교육/winequality-red.csv')

### .dtypes = 데이터 타입

In [ ]:
print(df.dtypes)

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

### .info() = 종합정보

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

### .index = 행 이름

In [ ]:
df.index
# start = 시작 , stop = 끝, step = 범위

RangeIndex(start=0, stop=1599, step=1)

### .columns = 열의 이름

In [ ]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

# 정렬

## 오름차순, 내림차순 정렬
    > sort_Values(by=[ ]) : 열의 값을 기준으로 정렬
    > sort_insex() : 행의 이름(인덱스, index)을 기준으로 정렬
- by : 어떤 열을 기준으로
- sort : 오름차순
- ascending = True : 오름차순
- ascending = False : 내림차순

In [ ]:
# 오름차순
df.sort_values(by='pH', ascending = True)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
151,9.2,0.520,1.00,3.4,0.610,32.0,69.0,0.99960,2.74,2.00,9.4,4
544,14.3,0.310,0.74,1.8,0.075,6.0,15.0,1.00080,2.86,0.79,8.4,6
614,9.2,0.755,0.18,2.2,0.148,10.0,103.0,0.99690,2.87,1.36,10.2,6
440,12.6,0.310,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8
1470,10.0,0.690,0.11,1.4,0.084,8.0,24.0,0.99578,2.88,0.47,9.7,5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,4.7,0.600,0.17,2.3,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,6
45,4.6,0.520,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4
695,5.1,0.470,0.02,1.3,0.034,18.0,44.0,0.99210,3.90,0.62,12.8,6
1316,5.4,0.740,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6
1321,5.0,0.740,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6

In [ ]:
# 내림차순
df.sort_values(by='quality', ascending = False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
495,10.7,0.350,0.53,2.60,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
1403,7.2,0.330,0.33,1.70,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8
390,5.6,0.850,0.05,1.40,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
1061,9.1,0.400,0.50,1.80,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8
1202,8.6,0.420,0.39,1.80,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8
...,...,...,...,...,...,...,...,...,...,...,...,...
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3
1478,7.1,0.875,0.05,5.70,0.082,3.0,14.0,0.99808,3.40,0.52,10.2,3
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.9,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3

In [ ]:
# n가지 기준 오름차순, 내림차순
sorted_df = df.sort_values(by=['pH', 'alcohol', 'quality'], ascending=[True, False, True])
sorted_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
151,9.2,0.520,1.00,3.4,0.610,32.0,69.0,0.99960,2.74,2.00,9.4,4
544,14.3,0.310,0.74,1.8,0.075,6.0,15.0,1.00080,2.86,0.79,8.4,6
614,9.2,0.755,0.18,2.2,0.148,10.0,103.0,0.99690,2.87,1.36,10.2,6
440,12.6,0.310,0.72,2.2,0.072,6.0,29.0,0.99870,2.88,0.82,9.8,8
1470,10.0,0.690,0.11,1.4,0.084,8.0,24.0,0.99578,2.88,0.47,9.7,5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,4.7,0.600,0.17,2.3,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,6
45,4.6,0.520,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4
695,5.1,0.470,0.02,1.3,0.034,18.0,44.0,0.99210,3.90,0.62,12.8,6
1316,5.4,0.740,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6
1321,5.0,0.740,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.5,6

# Titanic 데이터 확인하기

1. 아래 파일을 읽어서 데이터프레임을 생성한다.
    
    [titanic.csv](https://prod-files-secure.s3.us-west-2.amazonaws.com/f2678325-6f7b-4a25-b188-86c42030d6d5/63003e86-b43e-4b29-9a55-1b2ad8dcd0e7/titanic.csv)
    
2. 타이타닉 데이터의 정보를 확인한다.
    - 데이터의 첫 5행을 출력한다.
    - 행과 열의 수를 출력한다.
    - 각 열의 데이터 타입을 출력한다
    - 인덱스 정보를 출력한다.
    - 열 이름 정보를 출력한다.
    - 기본 통계 정보를 출력한다.
3. 나이 `age` 를 기준으로 오름차순으로 정렬하고, 출력한다.
4. 티켓 요금 `fare` 을 기준으로 내림차순으로 정렬하고, 출력한다.
5. 객실 등급 `Pclass` 기준 오름차순, 나이 `Age` 기준 오름차순으로 정렬하고, 출력한다.

# [과제]

- 자신의 Open API 데이터의 정보 3개를 확인하는 코드를 작성한다.
- 자신의 Open API 데이터를 정렬하는 코드를 3개 작성한다.
    - sort_values() 활용

In [75]:
serviceKey = os.getenv('open_api_key')

base_url = 'http://apis.data.go.kr/B551177/StatusOfPassengerWorldWeatherInfo'
end_point = '/getPassengerArrivalsWorldWeather'

request_url = base_url + end_point
# print(request_url)

params ={
    'serviceKey' : {serviceKey},
    'numOfRows' : '10',
    'pageNo' : '1',
    'from_time' : '0000',
    'to_time' : '2400',
    'airport' : '',
    'flight_id' : '',
    'airline' : '',
    'lang' : 'K',
    'type' : 'json',
    }

# API 요청
response = requests.get(request_url, params=params)

response_python = response.json()
item = response_python['response']['body']['items']
data = []
for i in item:
    data.append({
        'airline' : i['airline'],
        'airport' : i['airport'],
        'airportCode' : i['airportCode']

    })
df = pd.DataFrame(data)
#df
solted_name = df.sort_values(by=['airline', 'airport', 'airportCode'])
solted_name

      airline airport airportCode
5        대한항공     밴쿠버         YVR
4        대한항공     장가계         DYG
3       비엣젯항공     나트랑         CXR
1       비엣젯항공     푸꾸옥         PQC
2       비엣젯항공     푸꾸옥         PQC
7       비엣젯항공     푸꾸옥         PQC
8      아시아나항공  도쿄/하네다         HND
6        웨스트젯     밴쿠버         YVR
9  전일본공수 주식회사  도쿄/하네다         HND
0       콴타스항공     시드니         SYD